@model PersonUpdateRequest
@{
    ViewBag.CurrentUrl = "~/Persons/Edit";
    ViewBag.Title = "Edit Person";
}

<!-- breadCrumb start -->
<div class="flex">
    <div class="flex-1">
        <div class="text-grey">
            <span>Contacts</span>
            <i class="fa-solid fa-caret-right"></i>
            <span class="text-grey">Persons</span>
            <i class="fa-solid fa-caret-right"></i>
            <span class="text-grey">Edit</span>
        </div>
    </div>

</div>
<!-- breadCrumb ends -->

<div class="form-container">
    <a asp-controller="Persons" asp-action="Index" class="button-link button-blue-back">Back to Person List</a>
    <h2>Edit Person</h2>

    @* <div class="w-90"> *@
        <form asp-controller="Person" asp-action="Edit" method="post">
            @*PersonID*@
            <input type="hidden" asp-for="PersonID"/>

            @*PersonName*@
            <div class="form-field flex">
                <div class="w-25">
                    <label for="PersonName" class="form-label pt">Person Name</label>
                </div>
                <div class="flex-1">
                    <input asp-for="PersonName" class="form-input" />
                    <span asp-validation-for="PersonName" class="text-red"></span>
                </div>
            </div>

            @*Email*@
            <div class="form-field flex">
                <div class="w-25">
                    <label for="Email" class="form-label pt">Email</label>
                </div>
                <div class="flex-1">
                    <input asp-for="Email" class="form-input" required="true" />
                    <span asp-validation-for="Email" class="text-red"></span>
                </div>
            </div>

            @*DOB*@
            <div class="form-field flex">
                <div class="w-25">
                    <label for="DOB" class="form-label pt">Date of Birth</label>
                </div>
                <div class="flex-1">
                    <input asp-for="DOB" class="form-input" />
                    <span asp-validation-for="DOB" class="text-red"></span>
                </div>
            </div>

            @*Gender*@
            <div class="form-field flex">
                <div class="w-25">
                    <label for="Gender" class="form-label pt">Gender</label>
                </div>
                <div class="flex-1">
                    @{
                        string[] genders = (string[])Enum.GetNames(typeof(GenderOptions));
                    }
                    @foreach (string gender in genders)
                    {
                        <input type="radio" asp-for="Gender" value="@gender" />
                        <label for="@gender" class="form-label pt">@gender</label>
                    }
                    <span asp-validation-for="Gender" class="text-red"></span>
                </div>
            </div>

            @*NIN*@
            <div class="form-field flex">
                <div class="w-25">
                    <label for="NIN" class="form-label pt">NIN</label>
                </div>
                <div class="flex-1">
                    <input asp-for="NIN" class="form-input" required="true" maxlength="10"/>
                    <span asp-validation-for="NIN" class="text-red"></span>
                </div>
            </div>

            @*Country*@
            <div class="form-field flex">
                <div class="w-25">
                    <label for="CountryID" class="form-label pt">Country</label>
                </div>
                <div class="flex-1">
                    <select asp-for="CountryID" class="form-input" asp-items="@ViewBag.Countries">
                        <option value="">please select</option>
                    </select>
                    <span asp-validation-for="CountryID" class="text-red"></span>
                </div>
            </div>

            @*Address*@
            <div class="form-field flex">
                <div class="w-25">
                    <label for="Address" class="form-label pt">Address</label>
                </div>
                <div class="flex-1">
                    <textarea asp-for="Address" class="form-input"></textarea>
                    <span asp-validation-for="Address" class="text-red"></span>
                </div>
            </div>


            @*Recieve NewsLetter*@
            <div class="form-field flex">
                <div class="w-25">
                </div>
                <div class="flex-1">
                    <input type="checkbox" asp-for="RecieveNewsLetter" value="true" />
                    <label for="RecieveNewsLetter" class="form-label">Recieve News Letters </label>
                    @*<span asp-validation-for="RecieveNewsLetter" class="text-red"></span>*@
                </div>
            </div>

            @*Submit*@
            <div class="form-field flex">
                <div class="w-25">
                </div>
                <div class="flex-1">
                    <button class="button button-green-back">Update</button>
                    <div asp-validation-summary="All" class="text-red"></div>
                    @if (ViewBag.Errors != null)
                    {
                        <div class="text-red ml">
                            <ul>
                                @foreach (string error in ViewBag.Errors)
                                {
                                    <li class="ml">@error</li>
                                }
                            </ul>
                        </div>
                    }
                </div>
            </div>
        </form>
    @* </div> *@
</div>
